
/* Reset */
body,
ul, 
li {
    margin: 0;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: var(--VeryDarkBlue);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    
    flex-direction: column;
    height: 315px;
    padding: 45px;
    background-color: var(--DarkBlue);
    border-radius: 5%;
}


ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-around !important;
} 

li {
    display: flex;
    cursor: pointer;
}

li:hover:not(.active){
    background-color: var(--LightGrey);
}

.rating-options {
    color: var(--White);
    width: 100%;
    
}
 .img-star {
    border-radius: 50%;
    padding: 8px;
    background-color: var(--DarkBlueModified);
    margin: 14px;
 }

 .img-thank-you{
    height: 72px;
 }


.circle-rounded {
    border-radius: 50%;
    width: 7vw;
    height: 7vh;
    background-color: var(--DarkBlueModified);
    font-size: 0.9rem;
}


.span-question {
    color: var(--White);
    font-size: 1.2rem;
    margin-left: 15px;
    font-weight: 700;
}

.span-thank-you{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--White);

}

.feedback-paragraph {
    color: var(--LightGrey);
    font-size: 0.9rem;
    margin-left: 5px;
    padding: 10px;

}

.thank-you-paragraph {
    color: var(--LightGrey);
    font-size: 0.9rem;
    text-align: center;
}

.rating-paragraph {
    color: var(--SubmitButton);
    font-weight: 700;
    font-size: 0.9rem;
    background-color: var(--DarkBlueModified);
    border-radius: 20px;
    width: 151px;
    height: 16px;
    padding: 6px;
    text-align: center;
    margin: 0 0 29px 0

}
.active {
    background-color: var(--SubmitButton);
}

.hidden-card {
    display: none;
}

.attribution {
    color: var(--White);
    position: absolute;
    top: 50px;
    font-size: 0.9rem;
}

a {
    color: yellowgreen;
}


